asgiref
black
certifi
charset-normalizer
click
crispy-bootstrap4
Django
django-crispy-forms
flake8
idna
mccabe
mypy-extensions
packaging
pathspec
platformdirs
pycodestyle
pyflakes
requests
sqlparse
urllib3
