{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block sidebar %}{% endblock %}
{% block account_info %}{% endblock %}
{% block header %}{% endblock %}

{% block content %}
  <div class="container-fluid rounded shadow-sm p-3 mb-5 bg-white">
    <h2>Login into your account</h2>

    {% if form.error %}
      <p class="text-danger">Wrong credentials!</p>
      <p class="text-secondary">Please try again.</p>
    {% endif %}
  
    {% if next %}
      <p class="text-warning">To see this page please login!</p>
    {% endif %}
  
    <form action="{% url "login" %}" method="post">
      {% csrf_token %}
      {{ form|crispy }}
  
      <input type="submit" value="Login" class="btn btn-primary">
    </form>

    <div class="box mt-3">
      <span class="text-muted">
        If you don't have an account you can
        <span>
          <a href="{% url "task_manager:create-account" %}">register</a>
        </span>
      </span>
    </div>
  </div>
{% endblock %}
