{% extends "base.html" %}
{% load static %}


{% block sidebar %}{% endblock %}
{% block account_info %}{% endblock %}

{% block header %}
  <div class="row">
    <div class="col-sm-3">
      <div class="container-fluid rounded shadow-sm p-3 mb-3 bg-white rounded">
        <script src="{% static "js/update_clock.js" %}"></script>
        <h3 id="clock">{{ time|time:"H:i" }}</h3>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="container-fluid rounded shadow-sm p-3 mb-3 bg-white rounded d-flex justify-content-center">
        <h3>{{ quote }}</h3>
      </div>
    </div>
  </div>
{% endblock %}
