{% extends "base.html" %}

{% block header %}{% endblock %}

{% block content %}
  <div class="container-fluid rounded shadow-sm p-3 mb-5 bg-white rounded">
    <h2>Team</h2>

    {% block search_form %}
      {% include "includes/search_form.html" %}
    {% endblock %}

    <table class="table">
      <tr>
        <th>Username</th>
        <th>Full name</th>
        <th>Position</th>
      </tr>
      {% for worker in workers %}
        <tr>
          <td>
            {% if worker.username != user.username %}
              <a href="{% url "task_manager:worker-detail" pk=worker.id %}">
                {{ worker.username }}
              </a>
            {% else %}
              <strong>Me</strong>
            {% endif %}
          </td>
          <td>{{ worker.first_name }} {{ worker.last_name }}</td>
          <td>{{ worker.position }}</td>
        </tr>
      {% endfor %}

    </table>
  </div>
{% endblock %}
