<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
        crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static "css/styles.css" %}">

  {% block title %}
  	<title>Task Manager</title>
  {% endblock %}

</head>
<body>
  <div class="page-header">
    {% block header %}
      {% include "includes/header.html" with time=current_time quote=motivational_quote%}
    {% endblock %}
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        {% block sidebar %}
          {% include "includes/sidebar.html" %}
        {% endblock %}
      </div>
      <div class="col-sm-8">
        {% block content %}

        {% endblock %}
      </div>
      <div class="col-sm-2">
        {% block account_info %}
          {% include "includes/account_info.html" %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
